<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />

    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="div-footer">
        <a href="https://www.instagram.com/west.smoke_/"  class="div-footer">
          <i class="fa-brands fa-instagram"></i>
          <h4>west.smoke_</h4></a
        >
      </div>
      <div class="div-footer">
        <a href="http://wa.me/+5493764216818"  class="div-footer"
          ><i class="fa-brands fa-whatsapp"></i>
          <h4>3764216818</h4></a
        >
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/2c086df42b.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
